.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  word-break: break-all;
  font-family: $roboto;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  margin: 0;
  cursor: pointer;
}
