.card {
  width: 290px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 18px;
  padding: 43px 35px;
  background-color: $base-background;
  border: 7px solid transparent;

  &:hover,
  &:focus-within {
    border-image-source: linear-gradient(126.05deg, #ed0233 10%, #003eb7 88.31%);
    border-image-slice: 1;
    cursor: pointer;
  }

  @media (min-width: $tablet-width) {
    width: 380px;
    padding: 58px;
    gap: 22px;
  }

  @media (min-width: $desktop-width) {
    width: 360px;
    gap: 17px;
  }
}

.card__title {
  font-size: 22px;
  line-height: 23px;
  font-weight: 700;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 26px;
    line-height: 26px;
  }
}

.card__info {
  margin: 0;
}

.card__price {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-end;
  gap: 10px;
  padding: 0 10px;
  min-height: 119px;
  position: relative;
  z-index: 5;
  font-weight: 700;
  font-size: 48px;
  line-height: 149%;
  text-align: center;
  vertical-align: middle;
  color: $accent-color;
  margin: 0;

  @media (min-width: $tablet-width) {
    min-height: 150px;
    font-size: 60px;
  }
}

.card__price-currency {
  display: flex;
  align-items: center;
  gap: 10px;

  @media (min-width: $tablet-width) {
    gap: 14px;
  }
}

.card__price-currency::after {
  content: "";
  width: 24px;
  height: 34px;
  background-color: $text-color;
  mask-size: cover;
  mask-position: center;
  color: $text-color;
  mask-image: url("/__spritemap#sprite-currency-view");
  mask-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    width: 30px;
    height: 42px;
  }
}

.card__price::before {
  content: attr(data-price);
  position: absolute;
  z-index: -1;
  font-weight: 700;
  font-size: 80px;
  line-height: 147%;
  text-align: center;
  vertical-align: middle;
  color: $light-background-color;
  opacity: 0.48;

  @media (min-width: $tablet-width) {
    font-size: 100px;
  }
}

.card__button {
  width: 206px;
  min-height: 66px;
  padding: 14px 10px;
  font-weight: 700;
  border: 2px solid $text-color;
  align-items: center;

  &:hover {
    @include button-active;
  }

  &:focus {
    @include button-active;

    border: none;
    outline: none;
  }

  &:active {
    @include button-active;
  }

  @media (min-width: $tablet-width) {
    width: 250px;
    padding: 15px 10px;
  }

  @media (min-width: $desktop-width) {
    width: 230px;
  }
}

.card__button--disabled {
  opacity: 0.3;
}

