.content-features {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 35px;

  @media (min-width: $tablet-width) {
    flex-flow: row wrap;
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }

  li {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 12px;
    width: 290px;
    margin: 0 auto;

    @media (min-width: $tablet-width) {
      width: 324px;
      flex-flow: row wrap;
      margin: 0;
      text-align: left;
      flex: 1 1 45%;
    }

    @media (min-width: $desktop-width) {
      position: relative;
      width: 360px;
      justify-content: space-between;
      flex: none;
    }
  }

  dl {
    margin: 0 0 12px;

    @media (min-width: $tablet-width) {
      margin: 0;
    }
  }

  dt {
    font-size: 64px;
    line-height: 64px;
    font-weight: 700;
    margin: 0;
    padding: 0 10px;
    background: linear-gradient(128deg, #d10a42 0%, #0041ca 45.58%);
    -webkit-text-fill-color: transparent;
    background-clip: text;

    @media (min-width: $tablet-width) {
      font-size: 69px;
      line-height: 70px;
      font-weight: 700;
      margin: 0;
      padding: 0;
      text-align: left;
    }
  }

  dd {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin: 0;
    padding: 0 10px;
    color: $additional-color;

    @media (min-width: $tablet-width) {
      line-height: 22px;
      padding: 0;
    }
  }

  div {
    padding: 0 21px;

    @media (min-width: $tablet-width) {
      padding: 0;
      flex-basis: 203px;
    }

    @media (min-width: $desktop-width) {
      flex-basis: 210px;
    }
  }

  h3 {
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    margin: 0 0 12px;

    @media screen and (min-width: $tablet-width) {
      font-size: 20px;
      margin: 0 0 8px;
    }
  }

  p {
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    margin: 0 0 8px;

    @media screen and (min-width: $tablet-width) {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.content-features li:nth-child(2) div {
  @media (min-width: $tablet-width) {
    flex-basis: 238px;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 210px;
  }
}

