.filter {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.filter__item {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.filter__button {
  position: relative;
  display: block;
  border: none;
  background-color: transparent;
  padding: 0 0 4px;
  cursor: pointer;
  color: rgba($text-color, 0.5);
  outline: none;

  &::after {
    content: '';
    position: absolute;
    display: block;
    height: 2px;
    width: 0;
    bottom: -2px;
    background-color: rgba($decorative-color, 0.7);
    -webkit-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
  }

  &:hover {
    color: $text-color;
  }

  &:hover:not(.filter__button--active)::after {
    width: 100%;
  }

  &:focus::after {
    outline: none;
    color: $text-color;
    border-bottom: 2px solid $text-color;
  }

  &--active {
    position: relative;
    color: $text-color;
    display: block;
    border-bottom: 2px solid $current-color;
    bottom: -1px;
  }

  &:disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}
