.filter {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.filter__item {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.filter__button {
  position: relative;
  display: block;
  border: none;
  background-color: transparent;
  padding: 0 0 4px;
  cursor: pointer;
  color: rgba($text-color, 0.5);
  outline: none;

  &:hover {
    color: rgba($text-color, 0.7);
    border-bottom: 2px solid rgba($decorative-color, 0.7);
  }

  &:focus {
    outline: none;
    color: $text-color;
    border-bottom: 2px solid $text-color;
  }

  &--active {
    position: relative;
    color: $text-color;
  }

  &--active::after {
    content: "";
    position: relative;
    display: block;
    border-bottom: 2px solid $current-color;
    bottom: -6px;
  }

  &:disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}
