.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 48px;
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    flex-flow: row wrap;
    gap: 30px;
    padding-top: 0;
    padding-bottom: 100px;
  }

  @media (min-width: $desktop-width) {
    padding: 30px 175px 120px 250px;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    gap: 56px;
  }
}

.hero__inner {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding: 31px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 52px 0;
  }
}

.hero__wrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 21px;
  margin-bottom: 48px;

  @media (min-width: $tablet-width) {
    gap: 26px;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    gap: 0;
    margin-bottom: 39px;
  }
}

.hero__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-width: 113px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  list-style-type: none;
  text-align: right;
  color: $base-background;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    line-height: 22px;
    font-size: 14px;
    padding-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    min-width: 115px;
    padding-bottom: 70px;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  text-align: right;

  @media (min-width: $tablet-width) {
    width: 185px;
    gap: 9px;
  }

  @media (min-width: $desktop-width) {
    width: 270px;
    gap: 40px;
  }
}

.hero__city {
  padding-right: 1px;
  font-family: $alumni;
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;
  color: $base-background;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 43px;
  }

  @media (min-width: $desktop-width) {
    font-size: 54px;
    line-height: 54px;
    padding: 0;
  }
}

.hero__title {
  width: 156px;
  padding-left: 1px;
  font-family: $alumni;
  font-size: 62px;
  line-height: 62px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $base-background;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 185px;
    font-size: 72px;
    line-height: 85px;
    letter-spacing: 2px;
  }

  @media (min-width: $desktop-width) {
    width: 270px;
    font-size: 92px;
    line-height: 110px;
    letter-spacing: 4px;
  }
}

.hero__space {
  margin-right: -1px;

  @media (min-width: $tablet-width) {
    margin-right: -2px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}

.hero__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 290px;
  min-height: 60px;
  font-weight: 700;
  color: $base-background;
  background-color: transparent;
  border: solid 2px $base-background;
  padding: 10px;
  text-align: center;

  &:hover {
    background-color: $base-background;
    color: $accent-color;
  }

  &:focus {
    outline: 2px solid $dark-border;
    background-color: rgba($base-background, 0.8);
    color: $accent-color;
  }

  &:active {
    color: $text-color;
    background-color: $base-background;
  }

  @media (min-width: $tablet-width) {
    width: 185px;
    min-height: 56px;
    padding: 10px;
    align-self: flex-end;
  }

  @media (min-width: $desktop-width) {
    width: 270px;
    min-height: 66px;
    padding: 25px 10px;
  }
}

.hero__button--disabled {
  opacity: 0.5;
  pointer-events: none;
}

.hero__image {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
