.juri {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-top: 30px;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.juri__title {
  @include smaller-title;

  margin: 0 auto 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 54px;
    line-height: 54px;
    margin-bottom: 46px;
  }
}

.juri__swiper {
  @media (min-width: $tablet-width) {
    width: 560px;
  }

  @media (min-width: $desktop-width) {
    width: 1160px;
  }
}

.juri__list {
  width: 260px;
  position: relative;
  padding: 0;
  list-style: none;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 560px;
    margin: 0;
  }
}

.juri__expert {
  display: flex;
  flex-shrink: 0;
  width: 260px;
}

.juri__button--prev,
.juri__button--next {
  position: absolute;
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    border: none;
    background-color: transparent;
    z-index: 10;
  }

  &:hover {
    border-radius: 50%;
    border: 1px solid $text-color;
  }

  &:focus {
    border-radius: 50%;
    outline: 1px solid $text-color;
    background-color: $light-background-color;
  }
}

.juri__button--prev {
  left: 0;
  transform: translate(-21%, 22%);

  @media (min-width: $desktop-width) {
    transform: translate(67%, 43%);
  }
}

.juri__button--next {
  right: 0;
  transform: translate(21%, 22%);

  @media (min-width: $desktop-width) {
    transform: translate(-65%, 43%);
  }
}

.juri__button--prev::after {
  display: block;
  content: "";
  mask-image: url("/__spritemap#sprite-slider-button-view");
  width: 16px;
  height: 32px;
  background-color: $text-color;
  transform: rotate(180deg);
  mask-size: cover;
  mask-position: center;
  mask-repeat: no-repeat;
}

.juri__button--next::after {
  display: block;
  content: "";
  mask-image: url("/__spritemap#sprite-slider-button-view");
  width: 16px;
  height: 32px;
  background-color: $text-color;
  mask-size: cover;
  mask-position: center;
  mask-repeat: no-repeat;
}

.juri__button--prev:active,
.juri__button--next:active {
  background-color: $text-color;
}

.juri__button--prev:active::after,
.juri__button--next:active::after {
  background-color: $base-background;
}

.juri__button--prev:disabled,
.juri__button--next:disabled {
  opacity: 0.3;
  cursor: not-allowed;
  pointer-events: none;
  outline: none;
  border: none;
}
