.main-navigation {
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.main-navigation__list {
  display: flex;
  flex-flow: row wrap;
  gap: 4px 36px;
  width: 290px;
  list-style: none;
  margin: 0;
  padding: 0;
  color: $base-background;

  @media (min-width: $tablet-width) {
    width: 393px;
    gap: 31px;
  }

  @media (min-width: $desktop-width) {
    width: 742px;
    gap: 45px;
    justify-content: flex-end;
  }
}

.main-navigation__link {
  display: flex;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-decoration: none;
  padding: 8px 0;
  color: $base-background;

  &:hover {
    border-bottom: 1px solid $base-background;
    cursor: pointer;
  }

  &:focus {
    outline: 1px solid $base-background;
  }

  &:active {
    opacity: 0.3;
    outline: none;
    border: none;
  }

  @media (min-width: $tablet-width) {
    line-height: 22px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 19px;
    line-height: 27px;
  }
}

.main-navigation__link--disabled {
  pointer-events: none;
  opacity: 0.4;
}
