.price {
  position: relative;
  padding: 41px 0 42px;
  background-color: $second-background;

  &::after {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      width: 399px;
      height: 353px;
      background-image:
        image-set(
          url("../../img/barbells-tablet@1x.webp") 1x type("image/webp"),
          url("../../img/barbells-tablet@2x.webp") 2x type("image/webp"),
          url("../../img/barbells-tablet@1x.png") 1x type("image/png"),
          url("../../img/barbells-tablet@2x.png") 2x type("image/png")
        );
      background-repeat: no-repeat;
      background-size: cover;
      transform: translate(15%, 135%);
    }

    @media (min-width: $desktop-width) {
      width: 470px;
      height: 420px;
      background-image:
        image-set(
          url("../../img/barbells-desktop@1x.webp") 1x type("image/webp"),
          url("../../img/barbells-desktop@2x.webp") 2x type("image/webp"),
          url("../../img/barbells-desktop@1x.png") 1x type("image/png"),
          url("../../img/barbells-desktop@2x.png") 2x type("image/png")
        );
      transform: translate(81%, -12%);
    }
  }

  @media (min-width: $tablet-width) {
    padding: 61px 0 60px;
    background-repeat: no-repeat;
  }

  @media (min-width: $desktop-width) {
    padding: 99px 0 100px;
  }
}

.price__header {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 290px;
  margin: 0 auto 30px;
  border-bottom: 2px solid rgba($decorative-color, 0.2);

  @media (min-width: $tablet-width) {
    width: 310px;
    gap: 35px;
    margin-bottom: 43px;
  }

  @media (min-width: $desktop-width) {
    width: 350px;
    gap: 20px;
    margin-bottom: 40px;
  }
}

.price__title {
  @include smaller-title;

  line-height: 31px;

  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    @include middle-title;
  }

  @media (min-width: $desktop-width) {
    @include bigger-title;
  }
}

.price__cards {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: 290px;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  z-index: 2;

  @media (min-width: $tablet-width) {
    width: 380px;
    gap: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 1160px;
    flex-flow: row wrap;
  }
}
