@mixin smaller-title {
  font-family: $alumni;
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;
}

@mixin middle-title {
  font-family: $alumni;
  font-size: 42px;
  line-height: 42px;
  font-weight: 600;
}

@mixin bigger-title {
  font-family: $alumni;
  font-size: 54px;
  line-height: 54px;
  font-weight: 600;
}

@mixin button-active {
  background: linear-gradient(97deg, #ed0233 17.6%, #003eb7 95.31%);
  color: $base-background;
  outline: none;
  border: none;
}
